@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --comic-black: #121212;
  --comic-white: #FAFAFA;
  --comic-red: #EC1D24;
  --comic-yellow: #FBD000;
  --comic-blue: #209CEE;
}

body {
  font-family: 'Bangers', cursive;
  background-color: var(--comic-white);
  color: var(--comic-black);
  background-image: radial-gradient(var(--comic-black) 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

/* Comic Utilities */
.comic-shadow {
  box-shadow: 6px 6px 0px 0px var(--comic-black);
}

.comic-shadow-sm {
  box-shadow: 3px 3px 0px 0px var(--comic-black);
}

.comic-border {
  border: 3px solid var(--comic-black);
}

.comic-border-sm {
  border: 2px solid var(--comic-black);
}

.text-stroke {
  -webkit-text-stroke: 1px var(--comic-black);
}

.text-stroke-sm {
  -webkit-text-stroke: 0.5px var(--comic-black);
}
